body {
    background-color: #f8f9fa;
  }
  
  .card {
    margin-bottom: 1rem;
  }
  
  .navbar {
    margin-bottom: 2rem;
  }

  /* .profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #007bff;
  } */